<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.dictionary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".AddNewWordActivity" />
        <activity android:name=".ViewDictionaryActivity" />
        <activity android:name=".EditWordActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".LearnWordActivity" />
        <activity android:name=".ChooseRussianWordActivity" />
        <activity android:name=".SelectLearnWordActivity" />
        <activity android:name=".ChooseHebrewWordActivity" />
        <activity android:name=".ChooseCoupleActivity" />
        <activity android:name=".WriteInRussianActivity" />
        <activity android:name=".WriteInHebrewActivity"></activity>
    </application>

</manifest>